html {
    font-size: 100%;
    box-sizing: border-box;

    --toggle: hsl(230, 22%, 74%);
    --hoverToggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --background: hsl(0, 0%, 100%); //(BG)
    --topBackground: hsl(225, 100%, 98%); //(Top BG Pattern)
    --cardBackground: hsl(227, 47%, 96%); //(Card BG)
    --textOne: hsl(228, 12%, 44%); //(Text)
    --textTwo: hsl(230, 17%, 14%); //(Text)
    --textOverview: hsl(228, 12%, 44%);
    --cardHover: #e2e4f1;
}

html.dark-theme {
    --toggle:  linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --hoverToggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --background: hsl(230, 17%, 14%); //(BG)
    --topBackground: hsl(232, 19%, 15%);//(Top BG Pattern)
    --cardBackground: hsl(228, 28%, 20%); //(Card BG)
    --textOne: hsl(228, 34%, 66%); //(Text)
    --textTwo: hsl(0, 0%, 100%); //(Text)
    --textOverview: hsl(0, 0%, 100%);
    --cardHover: #31374f;
 }

*, *::before, *:after {
    box-sizing: inherit;
}

a, a:visited, a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-inter;
    font-size: $font-18;
    background-color: var(--background);
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $font-inter;
}

h1 {
    font-size: $font-26;
    color: var(--textTwo);
    line-height: 1.7;
}

h2 {
    font-size: $font-14;
    color: var(--textOne);
}

// Spacing
.container {
    max-width: 90rem;
    margin: 0 auto;
    
    &--pall {
        padding-top: 2.375rem;
        padding-right: 1.25rem;
        padding-bottom: 2.375rem;
        padding-left: 1.25rem;

        @include breakpoint-up(medium) {
            padding-top: 2.375rem;
            padding-right: 3.75rem;
            padding-bottom: 2.375rem;
            padding-left: 3.75rem;
        }

        @include breakpoint-up(large) {
            padding-top: 2.375rem;
            padding-right: 9.375rem;
            padding-bottom: 2.375rem;
            padding-left: 9.375rem;
        }
    }
}

.green {
    color: $limeGreen;
}

.red {
    color: $brightRed;
}